<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_***"
    data-amount="999"
    data-name="Thor's fresh Smoothies"
    data-description="Electric Kale"
    data-image="https://d30y9cdsu7xlg0.cloudfront.net/png/25309-200.png"
    data-locale="auto"
    data-zip-code="true"
    data-currency="eur">
  </script>
</form>
