<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_****" <!-- Paste your secret key here. https://dashboard.stripe.com/account/apikeys -->
    data-amount="2000"
    data-shippingAddress="true"
    data-name="schaeffonline.de"
    data-description="2 widgets"
    data-image="https://scontent.xx.fbcdn.net/v/t1.0-9/13466187_10204875933737558_6463614589457672709_n.jpg?oh=b3230ae6a9bf6c66ed8af64b963f3723&oe=57CC4444"
    data-locale="auto"
    data-zip-code="true"
    data-currency="usd">
  </script>
</form>
